.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(247, 239, 239, 0.562);
}

.item {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

h3 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  background-color: rgba(247, 239, 239, 0.562);
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .item {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: 100%;
  }
}

